//main: style.less

.menu_item .active {
  color: red;
}

.aboutCompany {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .company {
    text-align: center;
    h3 {
      font-size: 30px;
    }
  }
  .text {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .video {
    display: grid;
    justify-items: center;
    margin-bottom: 10px;
  }
}



