// main: style.less

.menu_item .active {
  color: red;
}

.aboutCompany {
  .container {
    display: flex;
    flex-direction: column;
    .company {
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
    .text {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .video {
      display: grid;
      justify-items: center;
      margin-bottom: 10px;
    }
  } 
}




